* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Gilroy, sans-serif;
}
body,
a,
button,
html,
input,
select,
textarea {
  color: #172b4d;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans,
    Ubuntu, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

button{
  cursor: pointer;
}

.categories-page {
  overflow: auto;
}

.category-title {
  margin: 5em 0 5% 13%;
}

.categories-container {
  margin: 0 13% 15% 13%;
  /* display: grid; */
  display: flex;
  flex-wrap: wrap;
  /* grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr; */
  overflow-y: auto;
}

.category-outer-container {
  margin-right: 1rem;
}

.category-container {
  width: 22rem;
  height: 8rem;
  margin-top: 5%;
  border: solid 1px lightgray;
  border-radius: 2.5px;
  box-shadow: 0.5px 0.5px 0.5px;
  display: flex;
  padding: 1rem;
  align-items: center;
  cursor: pointer;
}

/* MEDIA QUERIES */

@media screen and (max-width: 700px) {
  .category-container {
    min-width: 90%;
    max-width: 90%;
  }
}

.category-image {
  margin-left: 5%;
  width: 30%;
  height: 90%;
}

.category-name {
  font-size: 125%;
  padding: 1rem;
}

/* SHOPS PAGE */

.shops-page {
  margin: 0 15% 15% 15%;
}

.category-name-inshop-container {
  /* position: fixed; */
  width: 100%;
  /* top: 10%; */
  margin: 3em 0 0 0;
  background-color: rgb(23, 30, 48);
  display: flex;
  align-items: center;
}

.category-name-inshop-img {
  margin: 0 0 0 15%;
  /* height: 5rem; */
  color: white;
  border-radius: 5px;
}

.category-name-inshop {
  padding: 4%;
  color: aliceblue;
  font-size: 200%;
}

.shops-container {
  /* position: fixed; */
  /* top: 35%; */
  margin-top: 10%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  height: 70%;
}

.shop-container {
  position: relative;
  width: 30rem;
  height: 10rem;
  margin-top: 5%;
  border: solid 1px lightgray;
  border-radius: 7.5px;
  box-shadow: 0.5px 0.5px 0.5px;
  display: flex;
  padding: 1rem;
  align-items: center;
  cursor: pointer;
}
/* .shop-container:hover {
} */

.shop-image {
  margin-left: 5%;
  width: 35%;
}

.shop-name-container {
  padding: 1rem;
}

.shop-name {
  font-size: 125%;
  /* padding: 1rem; */
}
.shop-address {
  color: grey;
}

/* ITEMS PAGE */

.items-page {
  height: 100vh;
  width: 100%;
  background-color: rgb(240, 245, 247);
}

.items-shop-name-container {
  position: fixed;
  top: 3em;
  background-color: rgb(23, 30, 48);
  width: 100%;
  height: 10%;
  padding: 5%;
  display: flex;
  align-items: center;
}
.items-shop-name {
  color: aliceblue;
  margin: 0 0 0 9%;
}

.items-flex-container {
  position: fixed;
  /* top: 40%; */
  border-radius: 5px;
  border-width: 5px;
  /* border-color: black; */
  width: 100%;
  height: 100vh;
  margin: 13em 10% 0 10%;
  /* height: 60vh; */
  /* z-index: 4; */
  box-shadow: rgba(0, 0, 0, 0.12) 0px 4px 8px;
}

.items-grid-container {
  /* position: fixed; */
  /* margin-top: 5%; */
  width: 80%;
  height: 63vh;
  display: grid;
  grid-template-columns: 0.85fr 2.75fr 1.4fr;
  grid-template-rows: 1fr;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.12) 0px -4px 8px;
}

/* SEARCH */

.search-outer-container {
  /* position: fixed; */
  /* box-shadow: rgba(0, 0, 0, 0.12) 0px -4px 8px; */
  margin: 1%;
  width: 80%;
}

.search-item-container {
  background-color: white;
  padding: 6px 12px;
  margin: 1% 20% 0% 20%;
  border-radius: 5px;
  border: 0.5px solid rgb(201, 205, 216);
}

.search-item {
  /* padding: 1%; */
  width: 80%;
  border: none;
  outline: none;
  border-radius: 5px;
}
.searched-items-on-subcategories {
  position: absolute; 
  width: 48%;
  margin: 0% 20% 0% 16%;

  z-index: 3;
  max-height: 300px;
  overflow: auto;
  background-color: white;
  padding: 6px 12px;
  /* margin: 0% 20% 1% 20%; */
  border-radius: 5px;
}

.searched-item-on-subcategory {
  cursor: pointer;
  padding: 1%;
}
.searched-item-on-subcategory:hover {
  background-color: ghostwhite;
}

.search-subcategory {
  color: forestgreen;
}

/* hr {
  position: absolute;
  margin-top: 5%;
} */

.subcategory-container {
  padding: 2.5%;
  background-color: hsla(0, 64%, 92%, 0.24);
}
.subcategories-container {
  display: flex;
  flex-direction: column;
  /* align-items: flex-end; */
  padding: 2.5% 2.5% 2.5% 2.5%;
  /* border: 1px solid black; */
  border-radius: 5px;
  overflow-y: auto;
  background-color: white;
}

.subcategory-button {
  border-style: none;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 6px 0px;
  cursor: pointer;
  font-weight: 435;
  font-family: Gilroy, sans-serif;
  background-color: transparent;
  text-decoration: none;
}

.items-container {
  /* border: 1px solid black; */
  background-color: white;
  padding: 2%;
  overflow-y: auto;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.items-container::-webkit-scrollbar {
  display: none; /* for chrome*/
}


.few-indicator{
  color: red;
}

.disabled{
  pointer-events: none;
  opacity: .5;
  /* background-color: #CCC; */
}

.msg-unavailable{
  color: grey;
  font-size: 80%;
}

.item-container {
  display: flex;
  margin-bottom: 5%;
}
.item-image-container {
  margin-right: 5%;
}

.item-image {
  height: 5rem;
  padding: 5%;
  margin-left: 5%;
  border-radius: 10px;
}
.item-name-container {
  width: 60%;
  display: flex;
  flex-direction: column;
  margin-right: 5%;
}

.item-button-add {
  cursor: pointer;
  border-radius: 5px;
  border: none;
  outline: none;
  color: rgb(118, 245, 68);
  background-color: transparent;
  margin: 5% 5% 0 0;
  width: 40px;
}

.cart-container {
  /* border: 1px solid black; */
  /* height: 63vh; */
  background-color: white;
  width: 100%;
  padding: 2%;
  border-radius: 5px;
}

.cart-shopname {
  font-size: 90%;
}

.cart-buttons-container {
  display: flex;
  /* border: 1px solid black; */
  border-radius: 5px;
  width: 40px;
  justify-content: space-around;
  align-items: center;
  color: green;
}

.cart-buttons-container button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;
}

.cart-buttons-container button::selection {
  border: none;
}

.minus {
  font-size: 150%;
  color: red;
  padding: 10%;
}

.plus {
  font-size: 130%;
  color: green;
  padding: 10%;
}

.cart-title-container {
  display: flex;
  margin-top: 5%;
}

.cart-items-count {
  color: grey;
}

.cart-item-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5%;
}
.cart-item-description {
  width: 60%;
}

.cart-items-container {
  margin-top: 10%;
  overflow-y: auto;
  max-height: 25vh;
  min-height: 0%;
  /* -ms-overflow-style: none; */
  /* scrollbar-width: none;*/
}

/* .cart-items-container::-webkit-scrollbar {
display: none; 
} */

.cart-totalprice-container {
  margin-top: 7.5%;
}

.checkout-button-container {
  display: flex;
  justify-content: center;
  margin-top: 10%;
}

.proceed-to-checkout-btn{
  border: none;
  background-color: green;
  color: white;
  padding: 5%;
  border-radius: 20px;
  text-decoration: none;
}

/* .checkout-button-container Link {
  border: none;
  background-color: green;
  color: white;
  padding: 2%;
  border-radius: 20px;
} */

.checkout-cart-invoice-container {
  display: flex;
  flex-direction: column;
  /* justify-content: space-evenly; */
}

.checkout-cart-container {
  width: 100%;
}

.checkout-invoice-container {
  width: 100%;
  background-color: white;
}

.nocart-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nocart-container p {
  color: grey;
}

.nocart-image {
  width: 100%;
}

/* NAVBAR */

.app-name {
  font-size: 200%;
   color: white;
}

/* MEDIA QUERIES */

@media screen and (max-width: 700px) {
  .app-name {
    font-size: 125%;
  }
  .nav-container {
    font-size: 100%;
    padding: 0 10% 0 2%;
  }
}

.nav-container {
  position: fixed;
  top: 0%;
  width: 100%;
  z-index: 2;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* padding: 2.5%; */
  height: 3em;
  /* margin: 0 0 5% 0; */
  background-color: rgb(23, 30, 48);
  color: white;
  font-size: 125%;
}

.nav-cart-container {
  display: flex;
}

.nav-cart-image {
  /* height: 5vh; */
  height: 25px;
  color: white;
}

.nav-cart-count {
  font-size: 70%;
  position: absolute;
  margin: -0.9em 0 1em 1.5em;
  padding: 0.1em 0.6em;
  border-radius: 20px;
  background-color: red;
}

.nav-cartimg-signin-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 10%;
}

.user-avatar{
  height: 2em;
  cursor:pointer;
}

.nav-signin-btn {
  cursor: pointer;
}

/* SIGNIN  & SIGNUP*/

.overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 4;
  /* cursor: pointer; */
}

.signin-container {
  width: 90%;
  max-width: 25em;
  margin: auto;
  padding-top: 6em;
}

.errorMessage {
  color: red;
  font-size: 80%;
}

.form-container {
  background-color: #fff;
  padding: 1em;
  border-radius: 3px;
  color: black;
}

.form-row {
  margin-bottom: 0.5em;
  display: flex;
  flex-direction: column;
}

.form-row label {
  font-size: 0.9rem;
}

.form-row input {
  margin-top: 0.3em;
  border: 1px solid #dddfe2;
  padding: 0.5em;
  font-size: 0.9rem;
  border-radius: 3px;
}

.heading {
  text-align: center;
  font-size: 1.2rem;
  padding: 0 0 0.8em 0;
  margin: 0;
}

.form-row button {
  /* background: #4168b4; */
  background-color: green;
  border: none;
  border-radius: 3px;
  color: white;
  padding: 0.7em;
  cursor: pointer;
}

.signup-container {
  width: 90%;
  max-width: 25em;
  margin: auto;
  padding-top: 6em;
}

.signupNin-title-container {
  display: flex;
  justify-content: space-between;
  color: black;
}
.signupNin-title-container img {
  width: 1em;
  height: 1em;
  color: black;
  cursor: pointer;
}
.form-footer p {
  color: green;
  cursor: pointer;
}

/* CLEAR CART POPUP */

.clear-cart-popup-container {
  width: 90%;
  max-width: 35em;
  margin: 20% auto;
  /* padding-top: 10em; */
  padding: 3em;
  background-color: white;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.clear-cart-title-container p {
  font-size: 90%;
}

.clear-cart-buttons-container {
  display: flex;
  justify-content: space-evenly;
  margin-top: 2%;
  /* padding: 2%; */
}

.clear-cart-buttons-container button {
  padding: 3%;
  border-radius: 10px;
  outline: none;
  width: 7rem;
  cursor: pointer;
}

.cancel {
  background-color: white;
  border: 1px solid green;
  color: green;
}
.clear-cart {
  background-color: green;
  border: none;
  color: white;
}

/* MEDIA QUERIES SHOPPAGE */

@media screen and (max-width: 700px) {
  .category-name-inshop-img {
    height: auto;
    width: 2rem;
  }
  .category-name-inshop {
    font-size: 50%;
  }
  .shop-container {
    min-width: 80%;
    max-width: 80%;
    padding: 1%;
    height: auto;
    /* height: 20%; */
  }
}

/*  MEDIA QUERIES ITEMSPAGE */

@media screen and (max-width: 700px) {
  .items-flex-container {
    margin: 13em 0 0 5%;
  }
  .items-grid-container {
    width: 90%;
    grid-template-columns: 0fr 2fr 1fr;
  }
  .item-image {
    height: 2em;
  }
}
