.checkout-page {
  background-color: rgb(240, 245, 247);
  height: 100vh;
}
.checkout-container {
  display: flex;
  width: 100%;
  /* height: 90vh; */
  flex-wrap: wrap;
  height: 100%;
  /* margin: 7.5%; */
  margin-top: 3em;
  padding: 7.5%;
}
.checkout-signin-deliveryaddress-paybtn {
  /* background-color: white; */
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  /* padding: 2%; */
}

.checkout-signin-container {
  background-color: white;
  width: 90%;
  height: 12rem;
  padding: 2%;
}

.checkout-signin-inner-container {
  width: 100%;
  height: 100%;
  padding: 2%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 5px;
}

.checkout-signin-title {
  font-family: Gilroy, sans-serif;
  padding: 1%;
}
.checkout-signin-info {
  padding: 1%;
  font-size: 80%;
  color: grey;
}

.checkout-signinBtn {
  border: none;
  background-color: green;
  color: white;
  padding: 2%;
  width: 20%;
  border-radius: 20px;
  margin-left: 10%;
  font-size: 120%;
  margin: 2.5%;
  cursor: pointer;
}

.checkout-delivery-address-container {
  background-color: white;
  width: 90%;
  /* height: 12rem; */
  height: auto;
  /* padding: 2%; */
}

.checkout-delivery-address-title-container {
  width: 100%;
  /* height: 100%; */
  padding: 2%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 5px;
}

.checkout-address-title {
  font-family: Gilroy, sans-serif;
  padding: 1%;
}

.address-description {
  font-size: 80%;
}

.addresses-container {
  display: flex;
  flex-wrap: wrap;
}

.add-new-address-container {
  border: 1px solid #dddfe2;
  /* padding: 4em; */
  height: 8em;
  width: 45%;
  padding: 1%;
  margin: 2%;
  cursor: pointer;
}
.add-new-address-container p {
  color: green;
}
.add-new-address-container p span {
  font-size: 125%;
}

.selected-address-container {
  padding: 2%;
}

.selected-address-title-container {
  display: flex;
  justify-content: space-between;
}

.selected-address-title-container button {
  color: white;
  background-color: green;
  border: none;
  outline: none;
  padding: 1%;
  border-radius: 5px;
  cursor: pointer;
}

.selected-address {
  height: 8em;
  width: 90%;
  padding: 1%;
  margin: 2%;
  border: solid 1px lightgray;
}

/* .checkout-address-input {
  width: 90%;
  height: 25%;
} */

.paybtn {
  width: 6rem;
  color: white;
  border: none;
  background-color: green;
  border-radius: 15px;
  font-size: 150%;
  padding: 2%;
  cursor: pointer;
  height: 4rem;
}

.checkout-cart-invoice-container {
  width: 30%;
  padding: 2%;
  display: flex;
}

.cartContainer {
  background-color: white;
}
